@import "../../variables";
@import "../../mixins";

.overlay {
  width: 100%;
  position: fixed;
  //background: rgba(34, 39, 81, 0.596);
  background: rgba(23, 18, 20, 0.32);
  box-shadow: inset 0px 1px 100px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  //background-color: rgba(0, 0, 0, 0.75);
  /* background: rgba(133, 100, 100, 0.452); */
  z-index: 5;
  width: 100%;
  height: 100vh;
  transition: 0.1s ease-in-out;
}

.box {
  position: fixed;
  z-index: 5;
  height: 100vh;

  // padding-left: 1em;
  // padding-right: 0.5em;
  top: 0;
  right: -35vw;
  //background: #fff;
  transition: 0.5s ease-in-out;
  width: 35vw;
  max-width: 385px;
  //z-index: 1;
}

.top {
  margin: 1.5em 0 1em 0;
  //background: lavender;
  padding: 2em 2em 2em 2em;
  @include flexRegular(row, space-between);

  p {
    margin-top: 0.7em;
  }

  span {
    font-weight: bolder;
  }

  border-bottom: 0.2px solid #b9bddf;
}

.addy {
  font-family: "Raleway";

  span {
    background: #3cc13b;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
  }
}

.topLeft {
  // @include flexRegular(row, center);
  //align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: pink;

  img {
    margin-right: 1em;
    align-self: center;
  }

  p {
    margin-top: 3px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Neue-bold";
    align-self: center;

    span {
      font-size: 11px;
      font-weight: lighter;
      align-self: center;
    }
  }
}

.topRight {
  @include flexRegular(row, flex-start);

  //background: lavender;
  img {
    cursor: pointer;
    //align-self: flex-end;
  }

  button {
    margin-top: 1em;
    background: #3cc13b;
    border-radius: 4px;
    width: 79px;
    height: 27px;
    color: #fff;
    font-family: "Raleway";
    outline: none;
    border: 0;
    margin-right: 1em;
  }
}

.body {
  font-family: "Raleway";
  width: 85%;
  margin: auto;
}

.bodyTxt {
  margin: 2em auto 0 0.5em;
  width: 90%;

  .b1 {
    color: #b1b1b1;
  }

  .b2 {
    color: #626261;
  }

  p {
    font-size: 1.05em;
    line-height: 25px;
  }
}

.wallets {
  border: 0.2px solid #b9bddf;
  box-sizing: border-box;
  //padding: .6em 0;
  border-radius: 10px;
  margin: 2.5em 0.2em;
  width: 95%;
}

.wallet {
  cursor: pointer;
  @include flexRegular(row, flex-start);
  padding: 1.5em 1em;
  //border: 0.2px solid #b9bddf;
  border: 0.2px solid #27272a34;
  transition: 0.2s ease-in;

  img {
    margin-right: 1.4em;
  }

  p {
    font-size: 1.08em;
    font-weight: 600;
  }

  button {
    margin: 0 35%;
    @include buttonRegular($blueMain, 30%, 41px);
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    // background: #4d54a649;
    //transform: scale(1.01);
    border-radius: 10px 0 10px 0;
  }
}

.wallet:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
}

.activeWallet {
  @include flexRegular(row, space-between);
  width: 90%;
  margin: auto;
  padding: 1em 0;
}

.awleft {
  @include flexRegular(row, flex-start);
  align-items: flex-start;

  img {
    margin-right: 1em;
  }
}

.awInfo {
  h3 {
    font-weight: 500;
  }

  p {
    //opacity: 0.6;
    font-size: 0.75em;
  }
}

.swapOptions {
  @include flexRegular(row, center);
}

.swOption {
  @include flexRegular(column, center);

  img {
    cursor: pointer;
  }

  p {
    margin-top: 0.5em;
  }
}

.swOption:nth-child(1) {
  margin-right: 5em;
}

.swapTop {
  @include flexRegular(row, space-between);
  width: 98%;
  margin: auto;

  p {
    //color: #4d55a6;
    cursor: pointer;
  }
}

.swapBtn {
  @include flexRegular(row, center);
  margin: 1.5em 0;

  button {
    @include buttonRegular($blueMain, 50%, 37px);
    color: #fff;
    border-radius: 4px;
    margin: auto;
  }
}

.sInput {
  margin: 1em 0;
  position: relative;

  input {
    width: 100%;
    outline: none;
    border: 0;
    background: none;
    padding: 1em 1em 1em 8em;
    border: 0.2px solid #b9bddf;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: right;
    // color: #fff;
  }
}

.sInfo {
  //background: pink;
  position: absolute;
  //padding: 1em 0 0 1em;
  padding-right: 1em;
  @include flexRegular(row, flex-start);
  top: 0;
  left: 0.8em;
  border-right: 0.2px solid #b9bddf;
  height: 50px;

  img {
    width: 25px;
    height: 25px;
    margin-right: 0.6em;
  }

  p {
    font-weight: 700;
  }
}

.slippageTxt {
  margin: 0.6em auto;
  width: 96%;
  @include flexRegular(row, space-between);
}

.swapIcon {
  margin: 1.4em 0;
  @include flexRegular(row, center);

  img {
    cursor: pointer;
  }
}

.signOut,
.signOutM {
  box-sizing: border-box;
  border: 0.6px solid #b9bddf;
  border-radius: 0px 14px;
  width: 100%;
  text-align: center;

  padding: 0.8em 0;
  font-weight: 700;
  cursor: pointer;
}

.signOut {
  margin: 50vh auto 2em auto;
}

.signOutM {
  margin: 5em auto 2em auto;
}

.reviewBtn {
  background: #4d55a6;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  margin: 3em auto 2em auto;
  padding: 0.8em 0;
  cursor: pointer;
  color: #fff;
}

.sReview {
  margin-top: 3em;
}

.swapValue {
  //background: pink;
  @include flexRegular(row, center);

  img {
    width: 26px;
    height: 26px;
    margin: 0 0.7em;
  }

  p:nth-child(1) {
    font-weight: 500;
    font-size: 1.19em;
  }

  p:nth-child(2) {
    font-size: 1.11em;
  }

  p {
    font-size: 1.03em;
  }
}

.swapTotal {
  margin: 1em 0 0 0;
  text-align: center;

  h1 {
    font-size: 2.8em;
  }
}

.err {
  color: rgb(204, 7, 7);
  margin: 0.5em 0;
  //text-align: center;
  padding-left: 1em;
}

@media (max-width: 1080px) {
  .box {
    position: fixed;
    z-index: 15;
    height: 100vh;
    // padding-left: 1em;
    // padding-right: 0.5em;
    top: 0;
    right: 0vw;
    //background: #fff;
    transition: 0.5s ease-in-out;
    width: 100vw;
    max-width: 875px;
  }
}
