@import '../../variables';
@import '../../mixins';

// ----- Hero
.hero {
  //background: pink;
  padding: 12em 0 2em 0;
  width: 85%;
  max-width: 1300px;
  margin: auto;
}

.heroTopContent {
  @include flexRegular(row, space-between);
  align-items: flex-start;
  //background: pink;

  // .heroTopLeft,
  // .heroTopRight {
  //   width: 50%;
  // }

  .heroTopLeft {
    width: 55%;
  }

  .heroTopRight {
    width: 45%;
  }

  // .featured {
  //   width: 500px;
  //   height: 350px;
  // }

  .leftContent {
    width: 100%;
    //background: pink;

    h1 {
      margin: 0.3em 0 0.1em 0;
      font-size: 67px;
      font-family: Neue-bold;
      line-height: 75px;
      overflow: hidden;

      width: 100%;
      //white-space: nowrap;

      span {
        display: inline-block;
        transform: translateY(100%);
      }

      //   width: 70%;
    }
  }

  .leftTop {
    @include flexRegular(row, center);
    background: $mainGradient;
    color: $darkTxt;
    border: 1.4px solid #52525b;
    border-radius: 0px 10px;
    padding: 1em;
    width: fit-content;

    h2 {
      font-size: 43.5px;
      font-family: Neue-bold;
      white-space: nowrap;

    }
  }

  .leftBtm {
    p {
      //color: #71717a;
      line-height: 25px;
      overflow: hidden;

      span {
        display: inline-block;
        transform: translateY(100%);
      }
    }

    .leftBtns {
      margin-top: 3em;
      @include flexRegular(row, flex-start);
      //background: pink;

      button {
        //background: $mainGradient;
        //border: 1.4px solid #52525b;
        //@include flexRegular(row, center);

        outline: none;
        border-radius: 0px 6px;
        font-weight: 600;
        font-size: 1em;
        padding: 1em;
        height: 53px;
        transition: 0.3s ease-in-out;
        color: #fff;
        width: 100%;
        white-space: nowrap;

        &:hover {
          transform: scale(1.04);
        }

        img {
          margin-left: 0.5em;
        }
      }

      .lButton1_light {
        margin-right: 2.5em;
        background: #4d55a6;
        border: none;
        color: #fff;
        width: 85%;
        max-width: 220px;
      }

      .lButton1_dark {
        margin-right: 2.5em;
        background: #f3bb1c;
        border: none;
        color: #000;
        width: 85%;
        max-width: 220px;
      }

      .lButton2_light {
        @include flexRegular(row, center);
        margin-right: 2.5em;
        background: none;
        border: none;
        color: #4d55a6;
        border: 1.4px solid #4d55a6;
        width: 100%;
        max-width: 292px;
      }

      .lButton2_dark {
        @include flexRegular(row, center);
        margin-right: 2.5em;
        background: none;
        border: none;
        color: #fff;
        //border: 1px solid #4d55a6;
        border: 1.4px solid #a1a1aa;
        border-radius: 0px 6px;
        width: 100%;
        max-width: 292px;
      }
    }
  }
}

.leftBtns {
  width: 100%;
  margin-top: 3em;
  @include flexRegular(row, center);

  button {
    //background: $mainGradient;
    //border: 1.4px solid #52525b;
    //@include flexRegular(row, center);

    outline: none;
    border-radius: 0px 6px;
    font-weight: 600;
    font-size: 1em;
    padding: 1em;
    height: 63px;
    transition: 0.3s ease-in-out;
    color: #fff;

    &:hover {
      transform: scale(1.04);
    }

    img {
      margin-left: 0.5em;
    }
  }

  .lButton1_light {
    margin-right: 2.5em;
    background: #4d55a6;
    border: none;
    color: #fff;
    width: 30%;
    max-width: 185px;
  }

  .lButton1_dark {
    margin-right: 2.5em;
    background: #f3bb1c;
    //background: #f3591c;
    border: none;
    color: #000;
    width: 100%;
    max-width: 185px;
  }

  .lButton2_light {
    @include flexRegular(row, center);
    margin-right: 2.5em;
    background: none;
    border: none;
    color: #4d55a6;
    border: 1.4px solid #4d55a6;
    width: 100%;
    max-width: 292px;
  }

  .lButton2_dark {
    @include flexRegular(row, center);
    margin-right: 2.5em;
    background: none;
    border: none;
    color: #fff;
    //border: 1px solid #4d55a6;
    border: 1.4px solid #a1a1aa;
    border-radius: 0px 6px;
    width: 100%;
    max-width: 292px;
  }
}

.heroTopRight {
  //background: pink;
  @include flexRegular(row, flex-end);
  position: relative;

}

.dotBox1,
.dotBox2 {
  position: absolute;
  z-index: 1;
}

.dotBox1 {
  left: 1em;
  top: 3em;
}

.dotBox2 {
  right: -2em;
  bottom: 3em;
}

//
.forM {
  display: none !important;
}

//
.heroBtmContent {
  //background: pink;
  //   margin: 7em 0;
  padding: 5em 0;
  position: relative;
  //background: rgb(223, 211, 213);
  height: 300px;
}

.heroBanners {
  position: relative;
  color: $darkTxt;
}

.hBanner1 {
  position: absolute;
  width: 100vw;
  //background: $mainGradient;
  border: 1px solid #71717a;
  transform: matrix(1, 0.06, -0.09, 1, 0, 0);
  padding: 0.7em;
  @include flexRegular(column, flex-start);
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}

.hBanner1:before,
.hBanner2:before,
.hBanner1:after,
.hBanner2:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: '';
  z-index: 1;
}

.hBanner1:before,
.hBanner2:before {
  left: 0;
  background: linear-gradient(to right,
      rgba(254, 253, 253, 0.325) 0%,
      transparent 100%);
  backdrop-filter: blur(2px);
}

.hBanner1:after,
.hBanner2:after {
  right: 0;
  background: linear-gradient(to left,
      rgba(252, 251, 251, 0.265) 0%,
      transparent 100%);
  backdrop-filter: blur(2px);
}

.hBanner2 {
  position: absolute;
  width: 100vw;
  background: $mainGradient;
  border: 1px solid #71717a;
  transform: matrix(1, -0.04, 0.06, 1, 0, 0);
  padding: 0.7em;
  @include flexRegular(column, flex-start);
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}

.hb1Content {
  animation: scrolling 20s linear infinite;
  @include flexRegular(row, flex-start);

  li {
    @include flexRegular(row, center);
    white-space: nowrap;
    width: 30vw;
    flex-shrink: 0;
    //background: pink;
  }

  &:hover {
    animation-play-state: paused;
  }
}

.hb2Content {
  animation: scrolling2 20s linear infinite;
  @include flexRegular(row, flex-start);

  li {
    @include flexRegular(row, flex-start);
    white-space: nowrap;
    width: 30vw;
    // background: pink;
  }

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-180vw);
  }

  /* 100% {transform:  translateX(calc(-1*var(--marquee-elements-width)*var(--marquee-elements)));} */
  /* use calc functions */
}

@keyframes scrolling2 {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(180vw);
  }

  /* 100% {transform:  translateX(calc(-1*var(--marquee-elements-width)*var(--marquee-elements)));} */
  /* use calc functions */
}

.dots2 {
  margin-top: 8em;
  @include flexRegular(row, center);

  .dotBox4 {
    margin-left: 2em;
  }
}

@media (max-width: 1285px) {

  .hero {
    width: 95%;

  }

  .heroTopContent {
    .heroTopRight {
      width: 25%;
      //background: pink;
    }
  }
}

@media (max-width: 1085px) {
  .hero {
    width: 100%;
  }

  .dotBox1 {
    left: 1em;
    top: 3em;
  }

  .dotBox2 {
    right: 1em;
    bottom: 3em;
  }
}

@media (max-width: 1083px) {
  .heroTopContent {
    @include flexRegular(column, center);
    //background: pink;
    padding-top: 0;

    .heroTopLeft,
    .heroTopRight {
      width: 90%;
      //background: pink;
    }

    .leftContent,
    .heroTopRight {
      @include flexRegular(column, center);
    }

    .leftContent {
      text-align: center;
      //background: pink;

      h1 {
        font-size: 2.5em;
      }
    }

    .leftTop {
      width: 100%;


      h2 {
        font-size: 2em; //use 530px for text
      }
    }
  }

  .heroTopRight {
    @include flexRegular(column, center);
    //background: pink;
    margin: 3em 0;
  }

  .forM {
    display: flex !important;
  }

  .forW {
    display: none !important;
  }

  .leftBtns {
    @include flexRegular(column, center);

    //background: #bcc;
    button {
      margin-bottom: 2em;
      //width: 70vw !important;
      height: 56px;
    }

    .lButton1_light,
    .lButton1_dark,
    .lButton2_dark,
    .lButton2_light {
      margin-right: 0;
      width: 55vw;
      max-width: none;
    }
  }

  .heroBtmContent {
    padding: 0;
    margin: 0;
    //background: pink;
    margin-top: -5em;
    max-height: 120px;
  }

  .hBanner1,
  .hBanner2 {
    padding: 1.1em 0.7em;
  }

  .hb1Content,
  .hb2Content {
    li {
      width: 50vw;
      //background: pink;
      font-size: 1.06em;
    }
  }

  .hb1Content {
    animation: scrolling 10s linear infinite;
  }

  .hb2Content {
    animation: scrolling2 10s linear infinite;
  }

  .hBanner1:before,
  .hBanner2:before {
    left: 0;
    background: linear-gradient(to right,
        rgba(254, 253, 253, 0.325) 0%,
        transparent 100%);
    backdrop-filter: none;
  }

  .hBanner1:after,
  .hBanner2:after {
    right: 0;
    background: linear-gradient(to left,
        rgba(252, 251, 251, 0.265) 0%,
        transparent 100%);
    backdrop-filter: none;
  }
}

@media (max-width: 550px) {
  .hero {
    padding: 9em 0 0 0;
    margin-bottom: 0;
    //background: pink;
  }

  .heroTopContent {
    .leftContent {
      h1 {
        font-size: 3em;
      }
    }

    .leftTop {
      width: 100%;

      h2 {
        font-size: 1.5em; //use 530px for text
        word-wrap: break-word;
        white-space: normal;
      }
    }
  }

  .leftBtns {

    .lButton1_light,
    .lButton1_dark,
    .lButton2_dark,
    .lButton2_light {
      margin-right: 0;
      width: 85vw;
      max-width: none;
    }
  }

}

// ----- Trending
.trending {
  //   background: radial-gradient(
  //     72.94% 98.64% at 75.16% 76.53%,
  //     #ebedff 0%,
  //     #fff2e3 78.65%,
  //     #fefdf8 100%
  //   );
  padding: 4em 0;
}

.trTop {
  h1 {
    font-family: Neue-bold;
    text-align: center;
  }

  margin-bottom: 4em;
}

.trBody {
  width: 100vw;
  // background: lavender;

  overflow: hidden;
  position: relative;
}

.trSlides1 {
  margin-top: 1em;
  animation: scrolling3 10s linear infinite;
  @include flexRegular(row, flex-start);
  cursor: pointer;

  //height: 100%;
  &:hover {
    animation-play-state: paused;
  }
}

.trSlides01 {
  margin-top: 1em;
  @include flexRegular(row, space-between);
  cursor: pointer;
  padding: 0 2em;
}

.trSlides2 {
  margin-top: 6em;
  animation: scrolling3 15s reverse infinite;
  //animation-direction: alternate;
  @include flexRegular(row, flex-start);
  cursor: pointer;
  height: 100%;

  &:hover {
    animation-play-state: paused;
  }

  //background: pink;
}

@keyframes scrolling3 {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-150vw);
  }
}

@keyframes scrolling4 {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(calc(1 * (150vw)));
  }
}

.slidesContainer {
  margin: 2em 0;
  padding: 1em;
  //background: pink;
}

.trSlide {
  @include flexRegular(row, center);
  width: 26vw; //
  flex-shrink: 0;
  margin: auto 1vw;

  // margin-left: 4vw;
  //margin-left: 1vw;
  //margin-right: 2vw; //
  //background: pink;
}

.trSlidesp {
  width: 15vw;
}

@media (max-width: 1024px) {
  .slidesContainer {
    margin: 2em 0;
    padding: 1em;
  }

  .trSlide {
    @include flexRegular(row, center);
    width: 36vw; //
    flex-shrink: 0;
    margin-right: 2vw; //

  }
}

@media (max-width: 770px) {
  .trSlide {
    @include flexRegular(row, center);
    width: 64vw; //
    flex-shrink: 0;
    margin-right: 7vw; //
  }
}

@media (max-width: 500px) {
  .trSlide {
    width: 91vw; //
    // flex-shrink: 0;
    margin-right: 5vw; //
  }
}



// ----- Top Projects
.topPro {
  //padding-top: 3em;
  padding: 4em 0;
}

.topProTop {
  position: relative;

  h1 {
    font-family: Neue-bold;
    text-align: center;

  }

  .topProFilters {
    //background: pink;
    margin-top: 2.5em;
    @include flexRegular(row, center);

  }

  .tpFilter {
    border: 1px solid #52525b;
    border-radius: 0px 8px;
    padding: 0.7em 1em;
    @include flexRegular(row, center);
    cursor: pointer;

    img {
      margin-left: 1em;
      cursor: pointer;
    }
  }

  .drop2 {
    position: absolute;
    z-index: 4;
    border-radius: 0px 10px;
    top: 7.5em;
    // top: 43%;
    left: 45%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border: 1px solid #bcc;
    width: 200px;
    // min-width: 200px;
    background: #fff;

    p {
      padding: 1em;
      cursor: pointer;
    }
  }


  .tpFilterC {
    margin: 0 1.5em;
    border: 1px solid #52525b;
    border-radius: 0px 8px;
    padding: 0.7em 1em;
    @include flexRegular(row, center);

    img {
      margin-left: 1em;
      cursor: pointer;
    }
  }

  margin-bottom: 4em;
}

.topProTable {
  width: 90%;
  max-width: 1500px;
  margin: 3em auto;
  //background: cornsilk;
  font-weight: 700;
}

.tpTableTitles {
  @include gridRegular(0.5em);
  //grid-template-columns: 2.3fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
  grid-template-columns: 2.3fr 1fr 1fr 1fr 1fr;
  padding: 2.5em 0;

  div {
    @include flexRegular(row, flex-end);
  }
}

.tableItem {
  @include gridRegular(0.5em);
  cursor: pointer;
  border-top: 1px solid #71717a;
  //border-bottom: 1px solid #71717a;
  //grid-template-columns: 2.3fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
  grid-template-columns: 2.3fr 1fr 1fr 1fr 1fr;
  padding: 1.5em 0;
  transition: 0.25s ease-in;

  &:hover {
    padding: 1.5em 0.5em;
    transform: scale(1.03);
    background: rgba(17, 17, 17, 0.101);
    // background: radial-gradient(
    //   72.94% 98.64% at 75.16% 76.53%,
    //   #ebedff 0%,
    //   #fff2e3 78.65%,
    //   #fefdf8 100%
    // );
  }

  .collectionInfo {
    @include flexRegular(row, flex-start);

    img {
      margin: 0 1em;
    }
  }

  .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .itemAlign {
    @include flexRegular(row, flex-end);

    span {
      color: #3cc13b;
    }
  }
}

.line1 {
  height: 1px;
  width: 100%;
  background: #71717a;
}

.more {
  margin-top: 4em;
  @include flexRegular(row, center);

  .moreBtn {
    cursor: pointer;
    font-weight: 600;
    color: #52525b;
    border: 2px solid #52525b;
    border-radius: 0px 6px;
    width: 21vw;
    max-width: 270px;
    height: 65px;
    @include flexRegular(row, center);
    transition: 0.2s ease-in;

    img {
      margin-left: 1em;
      transition: 0.2s ease-in;
    }

    &:hover>img {
      transition: 0.2s ease-in;
      margin-left: 2em;
    }
  }
}

.topProContainer {
  width: 90%;
  max-width: 1500px;
  margin: 3em auto;
  //background: lavender;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include gridRegular(6em);
  padding: 1.5em 0;
  transition: 0.25s ease-in;
  width: 85%;


}

.tpItem {

  @include flexRegular(row, flex-start);
  transition: 0.25s ease-in;
  padding: .5em;

  &:hover {
    border-radius: 6px;
    transform: scale(1.06);
    background: rgba(17, 17, 17, 0.101);
  }

}

.tpLeft,
.tpRight {
  @include flexRegular(row, flex-start);
}

.tpLeft {
  p {
    margin-right: .8em;
    font-family: 'Neue-bold';
  }

  img {
    border-radius: 50%;
    width: 53px;
    height: 53px;
    object-fit: cover;
  }
}

.tpRight {
  margin-left: 1em;
  //background: lavender;
  @include flexRegular(row, space-between);

  width: 100%;

  h2 {
    font-family: 'Neue-bold';
    font-size: 1.2em
  }

  p {
    font-size: .95em
  }
}

.tprNumbers {
  @include flexRegular(column, flex-end);
}

.tpBtn {
  @include flexRegular(row, center);
  margin-top: 5em;

  button {
    cursor: pointer;
    font-weight: 600;
    //color: #52525b;
    //border: 2px solid #52525b;
    border-radius: 0px 6px;
    border: none;
    width: 19vw;
    max-width: 230px;
    height: 50px;
    @include flexRegular(row, center);
    transition: 0.2s ease-in;

    &:hover {
      transform: scale(1.04);
    }
  }
}

@media (max-width: 1200px) {
  .topProContainer {
    width: 95%;
    @include gridRegular(4em);
  }
}

@media (max-width: 1000px) {
  .topProContainer {
    grid-template-columns: 2fr;
  }

  .tpItem {
    width: 70%;
    margin: auto;
  }

  .tpBtn {
    //background: lavender;

    button {
      width: 40vw;
      max-width: 460px;
    }
  }
}

@media (max-width: 520px) {
  .tpItem {
    width: 90%;
    margin: auto;
    padding-bottom: 1.3em;
    border-bottom: 0.4px solid #71717A;
  }

  .tpBtn {
    button {
      width: 60vw;
      max-width: 460px;
    }
  }
}


//

// ----- Mk
.mk {
  padding: 9em 0;
}

.mkContent {
  @include flexRegular(row, flex-start);
  align-items: flex-start;
  width: 85%;
  max-width: 1300px;
  margin: auto;
}

.mkLeft,
.mkRight {
  width: 50%;
}

.mkLeftContent {
  h1 {
    font-family: Neue-bold;
    font-size: 2.4em;
  }

  p {
    margin: 1em 0;
  }
}

.mkBtn {
  margin: 6em 0 2em 0;
  width: 40vw;
  max-width: 294px;
  height: 60px;
  cursor: pointer;
  color: $darkTxt;
  background: radial-gradient(72.94% 98.64% at 75.16% 76.53%,
      #ebedff 0%,
      #fff2e3 78.65%,
      #fefdf8 100%);
  border: 1px solid #52525b;
  border-radius: 0px 6px;
  @include flexRegular(row, center);

  img {
    margin-left: 1em;
    transition: 0.2s ease-in;
  }

  &:hover>img {
    transition: 0.2s ease-in;
    margin-left: 1.5em;
  }
}

.mkRight {
  @include flexRegular(row, center);

  .mkBlock1 {
    //background: pink;
    margin-right: 2em;
  }

  .mkBlock2 {
    padding-top: 4em;
    //background: pink;
  }

  .mkimgBx {
    // width: 299px;
    // height: 299px;
    overflow: hidden;
    margin-bottom: 2em;
    position: relative;
    //background: rgb(0, 0, 0);

    p {
      font-family: 'Neue-bold';
      font-size: 1.3em;
      color: #fff;
      position: absolute;
      z-index: 1;
      bottom: 1em;
      left: 1em;

    }

  }

  .mkimg1 {
    background: url('./components/assets/p.png');
    width: 22vw;
    //width: 302px;
    max-width: 302px;
    height: 310px;
    background-repeat: no-repeat;
  }

  .mkimg2 {
    width: 22vw;
    max-width: 299px;
    //width: 299px;
    height: 315px;
    background: url('./components/assets/c.svg');
    //background-repeat: no-repeat;
  }

  .mkimg3 {
    width: 22vw;
    //max-width: 283px;
    max-width: 283px;
    height: 283px;
    background: url('./components/assets/a.svg');
  }

  .mkimg1,
  .mkimg2,
  .mkimg3 {
    cursor: zoom-in;
    transition: 0.2s ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1100px) {
  .mkContent {
    width: 95%;
  }
}

@media (max-width: 950px) {
  .mkContent {
    @include flexRegular(column, flex-start);
  }

  .mkLeft,
  .mkRight {
    width: 90%;
  }

  .mkLeftContent {
    text-align: center;
    //background: pink;
    @include flexRegular(column, center);
  }

  .mkRight {
    @include flexRegular(column-reverse, center);

    .mkBlock1 {
      @include flexRegular(row, center);
      align-items: center;
      justify-content: center;
      margin-right: 0;
      //background: pink;
      padding: .3em 0 0 .6em;


      .mkimgBx {
        img {
          width: 45vw;
          max-width: 302px;
        }

        img:nth-child(1) {
          margin-right: 3vw;
        }
      }
    }

    .mkBlock2 {
      //background: pink;

      .mkimgBx {
        img {
          width: 50vw;
          max-width: 302px;
        }
      }
    }


    .mkimg1 {
      width: 50vw;
      max-width: 302px;
      margin-right: 1em;
    }

    .mkimg2 {
      width: 50vw;
      max-width: 299px;

    }

    .mkimg3 {
      width: 50vw;
      max-width: 283px;

    }
  }

  .mkBtn {
    width: 51vw;
    margin: 2em 0;
  }
}

@media (max-width: 450px) {
  .mkRight {

    .mkimg1,
    .mkimg2 {
      width: 30vw;

    }
  }

  .mkBtn {

    width: 60vw;
  }
}


// ----- FAQ
.faq {
  padding: 0 0 9em 0;
}

.faqTop {
  h1 {
    font-family: Neue-bold;
  }
}

.faqContent {
  width: 85%;
  max-width: 1300px;
  margin: auto;
}

.faqTop {
  margin-bottom: 3em;
}

.faqBoxes {
  @include flexRegular(row, flex-start);
  align-items: flex-start;
}

.faqBox,
.faqBoxC {
  position: relative;
  width: 30%;
  height: 475px;
  max-width: 375px;
  border: 1px solid #a1a1aa;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0px 12px;
  padding: 3em 2em;

  button {
    // margin: 2em 0;
    position: absolute;
    bottom: 2.5em;
    left: 2em;
    width: 15vw;
    max-width: 200px;
    // background: radial-gradient(72.94% 98.64% at 75.16% 76.53%,
    //     #ebedff 0%,
    //     #fff2e3 78.65%,
    //     #fefdf8 100%);

    border: 1px solid #52525b;
    border-radius: 0px 6px;
    font-weight: 600;
    font-size: 1em;
    padding: 1em;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .fBtn_light {
    background: #4d55a6;
    color: #fff;
    border: none !important;
  }

  .fBtn_dark {
    background: #f3bb1c;
    color: #000;
    border: none !important;
  }
}

.faqBoxC {
  margin: 0 3em;
}

.faqText {
  h2 {
    font-family: Neue-bold;
    font-size: 1.2em;
    margin-bottom: 1em;
    // white-space: nowrap;
    color: $darkTxt;
    line-height: 23px;
  }

  p {
    line-height: 22.5px;
    font-size: 0.95em;
    color: #52525b;
    font-weight: 300;
  }
}

@media (max-width: 1080px) {


  .faqTop {
    text-align: center;
  }

  .faqContent {
    //background: pink;
    width: 97%;
  }

  // .faqBoxes {
  //   @include flexRegular(column, flex-start);
  //   align-items: flex-start;
  // }

}

@media (max-width: 950px) {


  .faqBoxes {
    // background: lavender;
    @include flexRegular(row, center);
  }

  .faqBox,
  .faqBoxC {
    width: 65%;
    //background: pink;
    //min-width: 270px;
    max-width: 775px;
  }

  .faqBoxC {
    margin: 0 1.5em;
  }
}

@media (max-width: 820px) {
  .faqBoxes {
    @include flexRegular(column, flex-start);
  }

  .faqBox,
  .faqBoxC {
    margin: 2.5em 0;

    button {
      width: 50vw;
    }
  }
}

@media (max-width: 490px) {

  .faqBox,
  .faqBoxC {
    width: 90%;
  }
}