@import '../../variables';
@import '../../mixins';

.card {
  position: relative;
  box-shadow: 0px 2px 4px rgba(91, 91, 91, 0.24);
  border-radius: 0px 24px;
  padding: 0.5em;
  background: $mainGradient;
  //background: black;
}

.card2 {
  position: relative;
  box-shadow: 0px 2px 4px rgba(91, 91, 91, 0.24);
  border-radius: 0px 24px;
  //padding: 0.5em;
  padding: 1em;
  background: $mainGradient;
  //background: black;
}

.cardImgBx {
  position: relative;
}

.cardImg {
  img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    //height: 100%;
    max-width: 468px;
    min-width: 285px;
    height: 320px;
    //max-height: 320px;
    transition: .3s ease-in;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.cardImg2 {
  img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 468px;
    //height: 320px;
    min-height: 320px;
  }
}

.cardImg3 {
  img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 420px;
    height: 420px;
    min-height: 320px;

  }
}

.cardImgFeatured {
  img {
    border-radius: 20px;
    object-fit: cover;
    width: 440px;
    height: 100%;
    max-width: 530px;
    height: 420px;
    min-height: 320px;
    transition: .3s ease-in;

    &:hover {
      transform: scale(1.03);
    }
  }
}

@media (max-width: 1285px) {
  .cardImgFeatured {
    img {
      width: 37vw;
      max-width: 400px;
      height: 410px;
    }
  }

  .cardImg {
    img {
      max-width: 468px;
      min-width: 205px;
    }
  }
}

@media (max-width: 1080px) {
  .cardImg {
    max-width: 408px;

    img {
      max-width: 408px;
      min-width: 205px;
    }
  }
}

@media (max-width: 780px) {

  //.cardImg,
  // .cardImg2,
  // .cardImg3,
  .cardImgFeatured {
    img {
      width: 55vw;
      max-width: 500px;
    }
  }

  // .cardImg {
  //   img {
  //     width: 100vw;
  //   }
  // }
}

@media (max-width: 650px) {
  // .card {
  //   width: 95vw;
  // }

  .cardImg {

    img {
      min-width: 350px;
      max-width: 500px;
    }
  }
}

@media (max-width: 500px) {


  //.cardImg,
  // .cardImg2,
  // .cardImg3,
  .cardImgFeatured {
    img {
      width: 80vw;
      max-width: 500px;
    }
  }
}

@keyframes skeleton {
  to {
    opacity: 0.6;
  }
}

.cardImgsk {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  width: 400px;
  //height: 320px;
  height: 390px;
  background: #313131;
  animation: skeleton 1s ease infinite alternate;
}

.cardTop {
  position: absolute;
  top: 1em;
  @include flexRegular(row, space-between);
  width: 90%;
  margin: 0 5%;
}

.descBox1 {
  @include flexRegular(column, center);
  //   background: rgba(23, 18, 20, 0.4);
  //   box-shadow: inset 0px 0.8px 100px rgba(216, 57, 166, 0.1);
  //   backdrop-filter: blur(20px);
  //   border-radius: 20px;
  //   padding: 0.3em;
  //   border-radius: 20px;

  transition: all 0.2s ease;
  position: absolute;
  padding: 25px 10px 10px 10px;
  bottom: 14px;
  background: rgba(23, 18, 20, 0.207);
  box-shadow: inset 0px 0.8px 100px rgba(216, 57, 166, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  width: 96%;
  left: 2%;
  right: 2%;
  margin: auto;
  color: #fff;
}

.descBox2 {
  cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  background: rgba(23, 18, 20, 0.207);
  //background: pink;
  box-shadow: inset 0px 0.8px 100px rgba(216, 57, 166, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  width: 100%;
  left: 0;
  // width: 96%;
  // left: 2%;
  // right: 2%;
  //margin: auto;
  color: #fff;


}

.descBox3 {
  transition: all 0.2s ease;
  position: absolute;
  background: rgba(23, 18, 20, 0.207);
  box-shadow: inset 0px 0.8px 100px rgba(216, 57, 166, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  width: 98%;
  left: 1.5%;
  right: 1.5%;
  // left: 5%;
  // right: 5%;
  color: #fff;

}

.userInfo {
  @include flexRegular(row, center);
  margin: 0.4em;
  cursor: pointer;

  p {
    margin: 0 1em;
  }
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

//
.itemInfo2 {
  @include flexRegular(row, space-between);
  color: #fff;
  transition: all 0.2s ease;
  position: absolute;
  padding: 15px 10px 55px 10px;
  bottom: -12px;
  background: rgba(23, 18, 20, 0.586);
  //background: pink;
  box-shadow: inset 0px 0.8px 100px rgba(216, 57, 166, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 100%;
  //margin: auto;
}

.itemInfo3 {
  @include flexRegular(row, space-between);
  color: #fff;
  transition: all 0.2s ease;
  position: absolute;
  padding: 15px 10px 55px 10px;
  bottom: -2px;
  background: rgba(23, 18, 20, 0.586);
  box-shadow: inset 0px 0.8px 100px rgba(216, 57, 166, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  cursor: pointer;
  //width: 60%;
  width: 97%;

}

.itemTxt {
  background: grey;
  @include flexRegular(row, space-between);
  padding-bottom: 18px;
  margin-bottom: 1.5em;
}

.itemSubtxt {
  cursor: pointer;

  h3 {
    margin-bottom: 0.8em;
  }

  .userBx {
    @include flexRegular(row, flex-start);

    img {
      margin-right: 7px;
      // width: 50px;
      // height: 50px;
      // border-radius: 50%;
    }

    p {
      font-size: 0.86em;
      width: 80%;

      //background: pink;
    }
  }
}

.buyBtn {
  align-self: flex-end;

  button {
    @include buttonRegular($blueHover, 108px, 37px);
    color: #fff;
    padding: 0.7em;
    border-radius: 4px;
    font-size: 0.87em;
    font-family: 'Raleway', sans-serif;
  }
}

.buyBtnSm {
  align-self: flex-end;

  button {
    @include buttonRegular($blueHover, 88px, 31px);
    color: #fff;
    padding: 0.7em;
    border-radius: 4px;
    font-size: 0.87em;
  }
}

.buyBtnBg {
  align-self: flex-end;

  button {
    @include buttonRegular($blueMain, 84px, 34px);
    color: #fff;
    //padding: 0.7em;
    border-radius: 4px;
    font-size: 0.95em;
  }
}

.actionBx {
  background: #1b1819;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 0.9em;
  position: absolute;
  // z-index: 2;
  width: 90%;
  left: 5%;
  right: 5%;
  margin: auto;
  bottom: -5px;

  p {
    font-size: 0.9em;
  }
}

.actionBx2 {
  //background: pink;
  background: #1b1819;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 0.9em;
  position: absolute;
  // z-index: 2;
  width: 90%;
  left: 5%;
  right: 5%;
  margin: auto;
  bottom: 1px;

  p {
    font-size: 1.1em;
  }
}

.aBcontent {
  @include flexRegular(row, space-between);
}

.aleft {
  @include flexRegular(row, flex-start);

  img {
    width: 24px;
    height: 24px;
    margin-right: 0.4em;
  }

  p {
    white-space: nowrap;
  }
}

@media (max-width: 400px) {
  .cardImg {

    img {
      min-width: 300px;
    }
  }
}