@import '../../variables';
@import '../../mixins';

// HeaderWeb
.section {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.container {
  // on scroll
  width: 100%;
  border-radius: 0px;
  margin-top: 0 !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.357);
  transition: 0.4s ease-in;


  // width: 95%;
  // max-width: 1500px;
  // margin: auto;
  //background: #ffffff;
  //background: cornsilk;
  border: 1px solid #52525b;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.14);
  //border-radius: 0px 8px;
  padding: 0 1em;
  // margin-top: 2em;
  transition: 0.4s ease-in;
  width: 100% !important;
  border-radius: 0px;
  margin-top: 0 !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.357);

}

.containerM {
  display: none;
}

.containerScroll {
  width: 100% !important;
  border-radius: 0px;
  margin-top: 0 !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.357);
  transition: 0.4s ease-in;
}

.content {
  @include flexRegular(row, flex-start);
  width: 97%;
  //background: pink;
  margin: auto;

  .logoBox {
    width: 28%;
    @include flexRegular(row, flex-start);

    img {
      height: 96px;
    }

    //background: cornsilk;
    //border: 1px solid black;
  }

  .navBoxL,
  .navBoxD {
    width: 32%;
    @include flexRegular(row, space-between);

    p {
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
  }

  .navBoxL {
    p {
      &:hover {
        color: $blueHover;
        transform: scale(1.08);
      }
    }

    .nItem {

      &:hover {
        color: $blueHover;
        transform: scale(1.08);
      }
    }
  }

  .nItem {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    //@include flexRegular(row, center);

  }

  .navBoxD {
    p {
      &:hover {
        color: #F3BB1C;
        transform: scale(1.08);
      }
    }

    .nItem {

      &:hover {
        color: #F3BB1C;
        transform: scale(1.08);
      }
    }
  }

  .buttonsBox {
    //background: cornsilk;
    //border: 1px solid black;
    width: 40%;
    @include flexRegular(row, flex-end);

    .btn {
      @include flexRegular(row, center);
      //background: $mainGradient;
      //color: #27272a;
      cursor: pointer;
      border: 1.4px solid #52525b;
      border-radius: 0px 6px;
      padding: 0.7em;
      width: 40%;
      min-width: 190px;
      margin: auto;
      font-weight: 600;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .themeImg {
      img {
        margin-left: 1em;
        cursor: pointer;
      }
    }

  }

  transition: 0.3s ease-in;
}

.contentFull {
  @include flexRegular(row, flex-start);
  position: relative;
  padding-right: 1em;

  .logoBox {
    width: 25%;
    @include flexRegular(row, flex-start);

    img {
      height: 96px;
    }

    //background: cornsilk;
    //border: 1px solid black;
  }


  .navBoxL,
  .navBoxD {
    //background: rgba(135, 207, 235, 0.505);
    width: 53%;
    @include flexRegular(row, space-between);

    .navBoxItems {
      @include flexRegular(row, space-between);
      //background: pink;
      width: 51%;
    }

    .searchBox {
      position: relative;

      input {
        border: 1px solid #6b737a;
        border-radius: 4px;
        width: 20vw;
        max-width: 245px;
        height: 48px;
        padding-left: 0.5em;
        outline: none;
        background: none;
        color: #6b737a;
      }

      img {
        position: absolute;
        top: 1em;
        right: 0.5em;
        cursor: pointer;
      }
    }

    p {
      transition: 0.2s ease-in-out;


    }
  }

  .navBoxL {
    p {
      &:hover {
        color: $blueHover;

        transform: scale(1.08);
      }
    }
  }

  .navBoxD {
    p {
      &:hover {
        color: #F3BB1C;
        transform: scale(1.08);
      }
    }
  }



  .buttonsBox {
    width: 20%;
    //background: pink;
    @include flexRegular(row, flex-end);

    img {
      margin-left: 2em;
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  transition: 0.3s ease-in;
}

.dropDown,
.searchResults {
  cursor: pointer;
  width: 18vw;
  max-width: 250px;
  position: absolute;

  //background: #ffffff;
  //border: 0.5px solid #000000;
  border: 0.5px solid #52525b;
  border-radius: 0px 8px;
}

.dropDown {
  right: 1em;
  top: 4.5em;
  padding: 2em 2em 1em 2em;
}

.ld {
  @include flexRegular(column, flex-start);
}

.searchResults {
  right: 18em;
  top: 5em;
  padding: 2em 2em 1em 1em;
  @include flexRegular(column, flex-start);
}

.searchSingle {
  padding: 3em 0 !important;
  margin: 3em 0;
  //background: pink;
  width: 10%;
}

.noResult {
  pointer-events: none
}

.dropTop {
  @include flexRegular(row, center);
  border-bottom: 0.6px solid #52525b;
  padding-bottom: 1em;
}

.dropBtn1,
.dropBtn2 {
  width: 86px;
  height: 32px;
  @include flexRegular(row, flex-start);
  border: 0.4px solid #000000;
  border-radius: 0px 12px;
  padding: 1em;
  background: #fff;
  color: $darkTxt;

  img {
    margin-left: 0.5em;
  }
}

.dropBtn1 {
  margin-right: 1em;
}

.dropA {
  background: $mainGradient  !important;
  color: $darkTxt;
}

.dropBody {

  //margin: 2em 0;
  .dropItem,
  .dropItemL {
    @include flexRegular(row, flex-start);
    margin-bottom: 1.5em;
    transition: 0.1s ease-in;

    p {
      margin-left: 0.6em;
    }

    &:hover {
      transform: scale(1.1);
    }
  }


}

.btnM {
  @include flexRegular(row, center);
  //background: $mainGradient;
  //color: #27272a;
  cursor: pointer;
  border: 1.4px solid #52525b;
  border-radius: 0px 6px;
  padding: 0.7em;
  width: 100%;
  min-width: 190px;
  height: 50px;
  margin: auto;
  font-weight: 600;
  font-size: .5em !important;
  transition: 0.3s ease-in-out;
  // &:hover {
  //   transform: scale(1.04);
  // }

}

//HeaderMobile
@media (max-width: 1080px) {
  .headerM {
    display: block;
    position: fixed;
    z-index: 4;
    width: 100%;
    //background: pink;
  }

  .cBtn {
    border: 1.4px solid #52525B;
    border-radius: 0px 6px;
    height: 40px;
    color: red;
  }

  .section {
    display: none;
  }

  .containerM {
    display: flex;
    width: 95%;
    max-width: 1500px;
    margin: auto;
    //background: cornsilk;
    border: 1px solid #52525b;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.14);
    border-radius: 0px 8px;
    padding: 0.3em 1em;
    margin-top: 2em;
    transition: 0.4s ease-in;

  }

  .contentM {
    @include flexRegular(row, space-between);
  }

  .logoBoxM {
    img {
      width: 100px;
      margin-left: -.7em;
    }
  }

  .iconBoxM {
    @include flexRegular(row, space-between);

    img {
      width: 34px;
    }
  }
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
  transition: 0.2s ease-in;
}

.themeImg2 {
  // background: pink;
  position: absolute;
  left: 2em;
  top: 3.3em;

  img {
    width: 40px;
  }
}