$darkBg: #0b0b0b;
$mainGradient: radial-gradient(
  72.94% 98.64% at 75.16% 76.53%,
  #ebedff 0%,
  #fff2e3 78.65%,
  #fefdf8 100%
);
$darkGradient: linear-gradient(299.55deg, #7684ff 0%, #ffd076 100%);
$gradient3: linear-gradient(289.65deg, #959ddc 28.46%, #ffd076 100%);
$gradient4: linear-gradient(301.8deg, #c9cfff 0%, #edd19b 96.02%);
$grayed: rgb(230, 225, 225);
$darkTxt: #100407;

$yellowMain: #ffcc00;
$yellowDark: #d8ad02f5;
$blueMain: #222751;
$blueHover: #4d55a6;
$blueOther: #2b2e4e;

$testColor: lavender;
$testColor2: pink;
// macbook width 1280
