@import './variables';
@import './mixins';

.darkTheme {
  transition: 0.3s ease-in;
  background: $darkBg;
  color: #fff;
}

.dark2 {
  background-color: $yellowMain;
}

.darkGradient {
  background: $darkGradient;
  color: $darkTxt;
}

.lightTheme {
  transition: 0.3s ease-in;
  background: #fff;
  color: #222222;
}

.light2 {
  background-color: #222222;
}

.lightGradient {
  background: $mainGradient;
  color: $darkTxt;
}

.lBdark2 {
  transition: 0.3s ease-in;
  color: #fff;
  background: #3f3f46;
}

.gradient3 {
  background: $gradient3;
}

.darkBorder {
  border: 1px solid #000000;
}

.lightBorder {
  border: 1px solid #ffffff;
}

.blueTxt {
  color: #4d55a6;
}

.blueTxtDark {
  color: #222751;
}

.yellowTxt {
  color: #f3bb1c;
}

.darkTxt {
  color: #000;
}

.lightTxt {
  color: #fff;
}

.blueLight {
  color: rgba(0, 0, 255, 0.601);
}

.blueTxt {
  color: #4d55a6;
}

.yellowMain {
  color: #f3bb1c;
}

.blueBtn {
  background: #4d55a6 !important;
  color: #fff !important;
}

.yellowBtn {
  background: #f3bb1c !important;
  color: #000 !important;
}