@import '../../variables';
@import '../../mixins';

.content {
    @include flexRegular(column, flex-start);
    padding-top: 13em;
    padding-bottom: 2em;
}

.bigTxt {
    h1 {
        font-size: 10.5em;
        font-family: 'Neue-bold';
    }
}

.smTxt {
    h3 {
        margin: 2em 0;
    }
}

.content {
    button {
        @include flexRegular(row, center);

        cursor: pointer;
        border: 1.4px solid #52525b;
        border-radius: 0px 6px;
        padding: 0.7em;
        width: 40%;
        min-width: 190px;
        margin: auto auto 5em auto;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        height: 45px;

        &:hover {
            transform: scale(1.11);
        }
    }
}